---
import PrimaryCTA from "../../ui/buttons/PrimaryCTA.astro";
---

<!-- Hero -->
<div class="relative overflow-hidden ">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
  
      <!-- Title -->
      <div class="mt-5 max-w-2xl text-center mx-auto">
        <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200">
          Our Services
        </h1>
      </div>
      <!-- End Title -->
  
      <div class="mt-5 max-w-3xl text-center mx-auto">
        <p class="text-lg text-gray-600 dark:text-gray-400">The wonderful services that we offer to our customers</p>
      </div>
  
      <!-- Buttons -->
      <div class="mt-8 gap-3 flex justify-center">
        <PrimaryCTA title="Book Now" url="/book" />
      </div>
      <!-- End Buttons -->
  
    </div>
  </div>
  <!-- End Hero -->