---
import PrimaryCTA from "../../ui/buttons/PrimaryCTA.astro";
---

<!-- Pricing -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">INTERIOR SERVICES</h2>
      <p class="mt-1 text-gray-600 dark:text-gray-400">What makes the interior of your car beautiful</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
        <div>
          <!-- Card -->
          <div class="p-4 relative z-10 border-2 rounded-xl md:p-10 dark:border-primary">
            <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Basic</h3>
            <div class="text-sm text-gray-500">For those that need a quick clean up</div>

            <div class="mt-5">
              <span class="text-6xl font-bold text-gray-800 dark:text-gray-200">$75</span>
              <span class="text-lg font-bold text-gray-800 dark:text-gray-200"></span>
              <span class="ms-3 text-gray-500">*starting at</span>
            </div>

            <div class="mt-5  py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                <p class="text-gray-800 dark:text-gray-200">
                    Our Basic Interior Detail service is anything but basic. With our professional cleaning techniques, we will restore your vehicle's interior to its original condition, leaving it looking fresh and rejuvenated. Book an appointment today and experience the difference our detailers can make for your vehicle.
                  </p>
            </div>

            <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                <!-- List -->
                <ul class="space-y-2 text-sm sm:text-base">
                  <li class="flex space-x-3">
                    <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                     Vacuum
                    </span>
                  </li>
  
                  <li class="flex space-x-3">
                    <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                      Clean Hard Surfaces
                    </span>
                  </li>
  
                  <li class="flex space-x-3">
                    <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                      Window Cleaning
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                    <span class="text-gray-800 dark:text-gray-200">
                      Seat & Floor Mat Refinishing
                    </span>
                  </li>
                </ul>
                <!-- End List -->
  
                <!-- List -->
                <ul class="space-y-2 text-sm sm:text-base">
  
                  <li class="flex space-x-3">
                    <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                    <span class="text-gray-800 dark:text-gray-200">
                        Plastic Enhancer
                    </span>
                  </li>
  
                  <li class="flex space-x-3">
                    <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-gray-800">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                        Seat & Floor Scrub
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-gray-800">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                        Carpet & Mat Extraction/Steam
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-gray-800">
                      <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </span>
                    <span class="text-gray-800 dark:text-gray-200">
                        Trunk Extraction
                    </span>
                  </li>
                </ul>
                <!-- End List -->
              </div>

            <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
              <div>
                <p class="text-sm text-gray-500">*pricing may vary depending on vehicle size and condition</p>
              </div>

              <div class="flex justify-end">
                <PrimaryCTA title="Book Now" url="/book" />
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div>
          <!-- Card -->
          <div class="p-4 relative z-10 border-2 rounded-xl md:p-10 dark:border-primary">
            <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Premium</h3>
            <div class="text-sm text-gray-500">For those that want a off the factory line interior</div>

            <div class="mt-5">
              <span class="text-6xl font-bold text-gray-800 dark:text-gray-200">$125</span>
              <span class="text-lg font-bold text-gray-800 dark:text-gray-200"></span>
              <span class="ms-3 text-gray-500">*starting at</span>
            </div>

            <div class="mt-5 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                <p class="text-gray-800 dark:text-gray-200">
                    Experience the ultimate in professional-grade cleaning with our Premium Interior Detail service. Our skilled technicians will expertly remove even the toughest grime and contamination, restoring your vehicle's interior to its original shine. With long-lasting protection, you can enjoy a pristine and luxurious driving experience. Book your appointment today for a service that is tailored to meet your needs.
                  </p>
            </div>

            <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                <!-- List -->
                <ul class="space-y-2 text-sm sm:text-base">
                    <li class="flex space-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800 dark:text-gray-200">
                       Vacuum
                      </span>
                    </li>
    
                    <li class="flex space-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800 dark:text-gray-200">
                        Clean Hard Surfaces
                      </span>
                    </li>
    
                    <li class="flex space-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800 dark:text-gray-200">
                        Window Cleaning
                      </span>
                    </li>
  
                    <li class="flex space-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                          <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                        </span>
                      <span class="text-gray-800 dark:text-gray-200">
                        Seat & Floor Mat Refinishing
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->
    
                  <!-- List -->
                  <ul class="space-y-2 text-sm sm:text-base">
    
                    <li class="flex space-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                          <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                        </span>
                      <span class="text-gray-800 dark:text-gray-200">
                          Plastic Enhancer
                      </span>
                    </li>
    
                    <li class="flex space-x-3">
                        <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                            <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                          </span>
                      <span class="text-gray-800 dark:text-gray-200">
                          Seat & Floor Scrub
                      </span>
                    </li>
  
                    <li class="flex space-x-3">
                        <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                            <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                          </span>
                      <span class="text-gray-800 dark:text-gray-200">
                          Carpet & Mat Extraction/Steam
                      </span>
                    </li>
  
                    <li class="flex space-x-3">
                        <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                            <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                          </span>
                      <span class="text-gray-800 dark:text-gray-200">
                          Trunk Extraction
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->
              </div>

            <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
              <div>
                <p class="text-sm text-gray-500">*pricing may vary depending on vehicle size and condition</p>
              </div>

              <div class="flex justify-end">
                <PrimaryCTA title="Book Now" url="/book" />
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
  </div>
  <!-- End Pricing -->