<section id="reviews" class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">

    <div class="elfsight-app-54704d3c-57b9-4112-86cc-23bbe8002dd7" data-elfsight-app-lazy></div>

</section>