---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@/components/sections/pricing/PricingSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import AnnouncementBanner from "@/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@/images/logos/logo-2.png";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import pricing from "@/data_files/pricing.json";
import featureImage from "@/images/featured.jpeg";
import construction from "@/images/construction-image.avif";
import tools from "@/images/automated-tools.avif";
import dashboard from "@/images/dashboard-image.avif";
import dad from "@/images/cars/dad.png";
import mustang from "@/images/cars/mustang.png";
import mine from "@/images/cars/mine.png";
import Newsletter from "@/components/forms/Newsletter";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Book A Detail Today"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Mobile Detailing in <span
    class="text-primary dark:text-primary">Pittsburgh</span>`
    subTitle="Top-quality detailing services and expert ceramic coating services for your vehicle - wherever, whenever!"
    primaryBtn="Book Appointment"
    primaryBtnURL="/book"
    secondaryBtn="Our Instagram"
    secondaryBtnURL="https://instagram.com/vanitysuds"
    withReview={true}
    rating=`<span class="font-bold">5</span> / 5`
    starCount={5}
    reviews=`View Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesGeneral
    title="Top-Tier Mobile Detailing"
    subTitle="At Vanity Suds, we offer high quality detailing services around the Pittsburgh Area. From cutting-edge tools/chemicals to expert services, we're dedicated to making your vehicle look new again while giving great customer service!"
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`We offer many services to perfectly suit your expectations and cars needs.`
    tabs={[
      {
        heading: "Interior Services",
        content:
          "Our interior services will have your cars inside looking brand new! We offer vacuuming, extractions, steaming, pet hair removal, stain removal and more!",
        svg: "vacuum",
        src: dad,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Exterior Services",
        content:
          "Our exterior services will have your cars exterior showroom ready! Our exterior services include 2 bucket hand wash, iron decon, claybar, paint corrections, ceramic coatings and more!",
        svg: "soap",
        src: mustang,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Coatings & Paint Corrections",
        content:
          "Restore your vehicles paint with a paint correction and ceramic coating! This service will remove scratches and bring the shine back to your paint while also protecting it and adding enhanced water repelling capabilities!",
        svg: "sparkle",
        src: mine,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="What Our Customers Say"
    subTitle="Our Main Priority Is Customer Satisfaction, So Heres What Our Customers Say About Us!"
    ;
    testimonials={[
      {
        content:
          "Jakobi showed up and was very friendly. I got the premium exterior, and basic interior package and he did a great job giving the cars paint a good cleaning which it needed. He really took his time and made sure it was done right car looks great and smells amazing inside",
        author: "Joshua Arbogast",
        role: "Vanity Suds Customer",
        
      },
      {
        content:
          `Highly recommend! I googled "mobile detailers" and booked an appointment with the first company I saw with online booking.  They cancelled on me last minute, but thankfully Vanity Suds was able to fit my son’s car in the next day. Jonah & Jakobi did a fantastic job- super friendly and extremely thorough.`,
        author: "Tracey Mozeyko",
        role: "Vanity Suds Customer",
        
      },
    ]}
  />


  <HeroSectionAlt
    title="Let's Work Together"
    subTitle="Vanity Suds is open Monday-Saturday, so visit our booking page to book today!"
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
